.map {
  position: absolute;
  width: 100%;
	height: 93%;
top: 5;
left: 0; 
right: 0;
bottom: 0;
background: #ffffff;
}

body {
  background: #4c334d;
}

h2 { color: #ffffff;}

.legend {
  position: absolute;
  left: 0.5;
  top: 0;
  width: 150px;
  height: 100px;
  background-color: #ff751a;
  opacity: 1;
}